<!-- HTML head -->
<?php include('./templates/html_head.html'); ?>

<!-- HTML body begins -->
<body>

<!-- HTML header container -->
<?php include('./templates/header.html'); ?>

<!-- Navigation sidebar -->
<?php include('./templates/navigation.html'); ?>

<main>
    <!-- The actual content with display data from databank -->
    <div class='content_box'>
        <?= $mainContent ?>
    </div>
</main>

<!-- Footer container -->
<?php include('./templates/footer.html'); ?>

<!-- HTML body ends -->
</body>
</html>
